/* BOTONES */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100&family=Sen&display=swap");
.boton {
  text-decoration: none;
  color: #000000;
  border: 2px solid #999cf5;
  background-color: #8084eb;
  border-color: none;
  padding: 3px;
  border-radius: 1rem;
  font-size: 2rem;
  margin: 0.5rem;
  font-weight: 600;
}
.boton:hover {
  border: 2px solid #8084eb;
  background-color: #999cf5;
}

/* FOOTER */
footer {
  padding: 3rem;
  border-top: 2px double #999cf5;
  text-align: center;
  margin-top: 2rem;
}

h3 {
  text-align: center;
  color: #8fb7ec;
  text-transform: uppercase;
  font-size: 2rem;
}

footer p {
  font-weight: 900;
  color: #000000;
  font-size: 2rem;
  text-transform: uppercase;
}

.logoRedes {
  color: #8084eb;
  text-align: center;
  padding: 2rem;
  cursor: pointer;
  font-size: 4rem;
}
.logoRedes:hover {
  font-size: 5rem;
  color: #3ff806;
}

.logoWhatsapp {
  width: 5rem;
  position: fixed;
  bottom: 40px;
  right: 1.5rem;
  cursor: pointer;
  transition: all 0.1s;
}
.logoWhatsapp:hover {
  width: 6rem;
}

/* GALERIA */
.foto {
  margin-top: 1rem;
  display: block;
  border-radius: 4rem;
  filter: grayscale(55%);
}
.foto:hover {
  filter: grayscale(0%);
  border-radius: 2rem;
  transition: all 0.2s;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "roboto", sans-serif;
  background-color: #535C68;
}

/* ENCABEZADO//HEADER */
.encabezado {
  display: flex;
  height: 8rem;
  padding: 1rem 0;
  justify-content: space-between;
  /* distribuye y alinea */
  align-items: center;
}

.menuNav a {
  text-transform: uppercase;
  font-size: 1.4rem;
  border: 1px solid #c1101a;
  padding: 0;
}

h1 {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 600;
  color: #fafafa;
  /*$color-fuentes*/
}

.imgLogo {
  height: 7rem;
  transition: all 1.8s;
  transform: rotate(360deg)
}
 

/*HERO*/
.hero {
  display: inline-block;
  color: #8fb7ec;
  /*$color-fuentes-tirulos-botones*/
  position: relative;
  width: 100%;
}

h2 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 400;
  color: #fafafa;
}

p {
  color: #fafafa;
  font-size: 2rem;
  margin: 2rem;
  font-size: 1.8rem;
}

.hero h2 span {
  font-weight: 800;
  padding: 0.5px;
  position: relative;
}

.containerHero {
  display: flex;
  margin-top: 0;
}

/*TARJETAS DE LA TIENDA */
.contenedorTienda {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 1rem;
}

.tienda {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 0.7rem;
  background-color: #535768;
  margin-left: 1rem;
  margin-top: 2rem;
}

.tiendaImagen {
  width: 100%;
  height: 50%;
  position: relative;
  border-radius: 1.5rem;
}

.producto {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.tiendaDescripcion {
  font-size: 1.5rem;
  color: #F2F2E7;
  text-align: center;
}

.tiendaPrecio {
  font-size: 2rem;
  color: #fafafa;
  font-weight: 600;
  text-align: center;
}

/*Medias Queries */
@media (max-width: 767px) {
  .encabezado {
    margin-top: 1rem;
  }
  .tituloPrincipal h1 {
    display: none;
  }
  .imagenMuestra {
    max-width: 90%;
    margin: auto;
  }
}
@media (max-width: 406px) {
  .hero {
    height: calc(100vh - 10rem);
    margin-top: 2rem;
  }
}
@media (max-width: 767px) {
  .hero {
    margin-top: auto;
    height: calc(100vh - 0.5rem);
    position: relative;
  }
}
@media (max-width: 406px) {
  .footer {
    align-items: center;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .contenedorTienda {
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin: auto;
  }
}
@media (max-width: 767px) {
  .contenedorTienda {
    grid-template-columns: 2fr;
  }
}

/*# sourceMappingURL=estilo.css.map */
