/* BOTONES */

.boton {
    text-decoration: none;
    color: $color-fuentes-botones;
    border: 2px solid $color-botones-sec;
    background-color: $color-botones;
    border-color: none;
    padding: 3px;
    border-radius: 1rem;
    font-size: 2rem;
    margin: 0.5rem;
    font-weight: 600;

    &:hover {
        border: 2px solid $color-botones;
        background-color: $color-botones-sec;
    }
}

