/* ENCABEZADO//HEADER */
.encabezado {
    display: flex;
    height: 8rem;
    padding: 1.0rem 0;
    justify-content: space-between;

    /* distribuye y alinea */
    align-items: center;
}

.menuNav a {
    text-transform: uppercase;
    font-size: 1.4rem;
    border: 1px solid #c1101a;
    padding: 0;
}

h1 {
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 600;
    color: #fafafa;

    /*$color-fuentes*/
}

.imgLogo {
    height: 8rem;
}

