$color-fuentes:#fafafa; 
$color-fuentes-titulos:#8fb7ec; 
$color-fuentes-tarjetas:#F2F2E7;
$color-fuentes-botones:#000000; 
$color-fondo:#535C68;
$color-tarjetas:#535768;
$color-botones:#8084eb;
$color-botones-sec:#999cf5;
$color-botones-redes:#3ff806;
